#u3424
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u3470-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3471
{
	background-color: transparent;
}

#u9320
{
	background-color: #000000;
}

#u9326-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

#u9326
{
	font-family: Comic Sans, Comic Sans MS, cursive;
}


